:root {
    --card-bg: rgb(106, 114, 122);
    --card-color: #000000;
}

.to-do-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.to-do-item-container {
    width: 20rem;
    box-shadow: 0px 0px 10px rgba(155, 155, 155, 0.8);
    text-align: left;
}

.to-do-item-anchor {
    color: darkblue;
}

.to-do-item-anchor:visited {
    color: lightgreen;
}

.card-header-footer {
    background-color: var(--card-bg);
    color: var(--card-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-button {
    background-color: darkred;
    border: none; 
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.completed-task {
    text-decoration: line-through;
}